.benvenuti {
    color: white;
    font-family:Arial, Helvetica, sans-serif
}

.catImg {
    width: 17%;
    height: 17%;
    margin-left: 2%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.benvenuti-logo {
    width: 10%;
    height: 10%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -1%;
}

form {
    border: 3px solid #0000003e;
    background-color: #0000005b;
    width: 10%;
}

input[type=text], input[type=password] {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
button {
    background-color: #aa0404;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
button:hover {
    opacity: 0.8;
  }
  
.container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
}